
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>AngularJS RequireJS Example</title>
        <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="css/search.css" rel="stylesheet">
        <link href="css/example.css" rel="stylesheet">
    </head>
    <body>
        <div class="container" ng-controller="ExampleController as example">
            <div role="tabpanel">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" ng-class="{active: example.isSet(1)}"><a href="#test1" role="tab" ng-click="example.setTab(1)">Example</a></li>
                    <li role="presentation" ng-class="{active: example.isSet(2)}"><a href="#test2" role="tab" ng-click="example.setTab(2)">Panel</a></li>
                    <li role="presentation" ng-class="{active: example.isSet(3)}"><a href="#other" role="tab" ng-click="example.setTab(3)">Button</a></li>
                </ul>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane" ng-class="{active: example.isSet(1)}">
                        <!--<default-hello/>-->
                        <!--<ui-hello hello="example.hello"><ui-hi>{{example.hello}}</ui-hi></ui-hello>
                        <div><button class="btn btn-default" ng-click="example.updateHello()">Update Hello</button></div>-->
                        <!--<ui-hello><span>Hello</span><p>World</p></ui-hello>-->
                        <!--<ui-hello>
                          <ui-hi>
                            Hello World
                          </ui-hi>
                        </ui-hello>-->
                        <!--<ui-hello>Hello worrrrrrlllld!!!!</ui-hello>-->
                        <!--<ui-hello>
                          <div>
                            <span ng-repeat="name in example.names">
                              Hello {{name}}<br>
                            </span>
                          </div>
                        </ui-hello>-->
                        <!--<ui-search></ui-search>-->
                    </div>
                    <div role="tabpanel" class="tab-pane" ng-class="{active: example.isSet(2)}">
                      <div class="exampleDiv">
                        <ui-panel>Basic panel example</ui-panel>
                        <ui-panel header="example.panel.titles[0]" footer="example.panel.foot">Panel content</ui-panel>
                        <ui-panel header="example.panel.titles[1]" bs-style="example.styles[0]">Panel content</ui-panel>
                        <ui-panel collapsible="example.yes" default-expanded="example.yes">
                          Some default panel content here.
                          <ui-list-group fill="example.yes">
                            <ui-list-group-item>Item 1</ui-list-group-item>
                            <ui-list-group-item>Item 2</ui-list-group-item>
                            <ui-list-group-item>&hellip;</ui-list-group-item>
                          </ui-list-group>
                          Some more panel content here.
                        </ui-panel>
                        <ui-panel-group default-active-key="example.panel.events[1]" accordion="example.yes">
                          <ui-panel header="example.panel.head[0]" event-key="example.panel.events[0]">Panel 1 content</ui-panel>
                          <ui-panel header="example.panel.head[1]" event-key="example.panel.events[1]">Panel 2 content</ui-panel>
                        </ui-panel-group>
                      </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" ng-class="{active: example.isSet(3)}">
                      <div class="exampleDiv">
                        <ui-button-toolbar>
                          <ui-button ng-click="example.updateTest()">Default</ui-button>
                          <ui-button bs-style="example.styles[0]" disabled="example.disabled">Primary</ui-button>
                          <ui-button bs-style="example.styles[1]" bs-size="example.size[0]">Success</ui-button>
                          <ui-button bs-style="example.styles[2]">Info</ui-button>
                          <ui-button bs-style="example.styles[3]" bs-size="example.size[2]">Warning</ui-button>
                          <ui-button bs-style="example.styles[4]">Danger</ui-button>
                          <ui-button bs-style="example.styles[5]">Link</ui-button>
                          <ui-button block="example.block">{{example.test}}</ui-button>
                        </ui-button-toolbar>
                      </div>
                      <div class="exampleDiv">
                        <ui-button-group bs-size="example.size[2]">
                          <ui-button>Left</ui-button>
                          <ui-button>Middle</ui-button>
                          <ui-button>Right</ui-button>
                        </ui-button-group>
                      </div>
                      <div class="exampleDiv">
                        <ui-button-toolbar>
                          <ui-button-group>
                            <ui-button>1</ui-button>
                            <ui-button>2</ui-button>
                            <ui-button>3</ui-button>
                          </ui-button-group>
                          <ui-button-group>
                            <ui-button>4</ui-button>
                            <ui-button>5</ui-button>
                            <ui-button>6</ui-button>
                          </ui-button-group>
                        </ui-button-toolbar>
                      </div>
                      <div class="exampleDiv">
                        <ui-button-group>
                          <ui-button>1</ui-button>
                          <ui-button>2</ui-button>
                          <ui-dropdown-button title="example.title">
                            <ui-menu-item>Dropdown link</ui-menu-item>
                            <ui-menu-item>Dropdown link</ui-menu-item>
                          </ui-dropdown-button>
                        </ui-button-group>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="../bower_components/requirejs/require.js" data-main="js/requireConfig.js"></script>
    </body>
</html>
