
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>AngularJS RequireJS Example</title>
        <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="css/search.css" rel="stylesheet">
    </head>
    <body>
        <div class="container" ng-controller="ExampleController as example">
            <div role="tabpanel">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" ng-class="{active: example.isSet(1)}"><a href="#test1" role="tab" ng-click="example.setTab(1)">Test1</a></li>
                    <li role="presentation" ng-class="{active: example.isSet(2)}"><a href="#test2" role="tab" ng-click="example.setTab(2)">Test2</a></li>
                    <li role="presentation" ng-class="{active: example.isSet(3)}"><a href="#other" role="tab" ng-click="example.setTab(3)">Test3</a></li>
                </ul>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane" ng-class="{active: example.isSet(1)}">
                        <!--<default-hello/>-->
                        <!--<ui-hello hello="example.hello"><ui-hi>{{example.hello}}</ui-hi></ui-hello>
                        <div><button class="btn btn-default" ng-click="example.updateHello()">Update Hello</button></div>-->
                        <!--<ui-hello><span>Hello</span><p>World</p></ui-hello>-->
                        <!--<ui-hello><ui-hi/></ui-hello>
                        <ui-hello>Hello worrrrrrlllld!!!!</ui-hello>
                        <ui-hello><div><span x-ng-repeat="name in example.names">Hello {{name}}<br></span></div></ui-hello>-->
                        <!--<ui-search></ui-search>-->
                    </div>
                    <div role="tabpanel" class="tab-pane" ng-class="{active: example.isSet(2)}">
                    </div>
                    <div role="tabpanel" class="tab-pane" ng-class="{active: example.isSet(3)}">
                      <div>
                        <ui-button-toolbar>
                          <ui-button ng-click="example.updateTest()">Default</ui-button>
                          <ui-button bs-style="example.styles[0]">Primary</ui-button>
                          <ui-button bs-style="example.styles[1]">Success</ui-button>
                          <ui-button bs-style="example.styles[2]">Info</ui-button>
                          <ui-button bs-style="example.styles[3]">Warning</ui-button>
                          <ui-button bs-style="example.styles[4]">Danger</ui-button>
                          <ui-button bs-style="example.styles[5]">Link</ui-button>
                        </ui-button-toolbar>
                      </div>
                      <div><p>{{example.test}}</p></div>
                      <div>
                        <ui-button-toolbar>
                          <div><span ng-repeat="style in example.styles" ><ui-button bs-style="style">{{style}}</ui-button></span></div>
                        </ui-button-toolbar>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="../bower_components/requirejs/require.js" data-main="js/requireConfig.js"></script>
    </body>
</html>
